@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&family=Quicksand:wght@300..700&display=swap');

:root {

    /* 546a76 */
    --blue-slate: #8EF9F3
    --glaucous: #171738
    --sky: #593C8F
    --white: #BA1200
    --blue-slate: #FE6D73
}

body {
    font-family: 'Quicksand', 'Arial', 'sans-serif';
}

/* Seleção de elemento */
h2 {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(111, 23, 133)
}

/* Seleção de id */
#tabela {
    text-align: center;
    background-color: #FE6D73;
    color: #593C8F
}

/* Seleção de classe */
.negrito {
    font-weight: bold;
}

/* Seleção de elemento (p) que usa uma determinada classe (courier) */
p.courier {
    font-family: 'Courier New', Courier, monospace;
}

h1,
 h2,
 h3 {
    font-style: 'lobster', 'times new roman', times, serif;
}

form button {
    background-color: brown
}