@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&family=Quicksand:wght@300..700&display=swap');

:root {

    /* 546a76 */
    --blue-slate: #8EF9F3
    --glaucous: #171738
    --sky: #593C8F
    --white: #BA1200
    --blue-slate: #FE6D73
}

/* CSS reset */
* {
    margin: 0;            
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', 'Arial', 'sans-serif';
    padding: 50px;
}

/* Seleção de elemento */
h2 {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(111, 23, 133)
}

/* Seleção de id */
#tabela {
    text-align: center;
    background-color: #FE6D73;
    color: #593C8F
}

/* Seleção de classe */
.negrito {
    font-weight: bold;
}

/* Seleção de elemento (p) que usa uma determinada classe (courier) */
p.courier {
    font-family: 'Courier New', Courier, monospace;
}

h1,
 h2,
 h3 {
    font-style: 'lobster', 'times new roman', times, serif;
}

form button {
    background-color: brown
}

img {
    height: 200px;
    width: 200px;
}

.avatar {
    border-radius: 50%;
}

#nav-sections ul {
    list-style-type: none;
}

#nav-sections li {
    display: inline-block;
}

a {
    text-decoration: none;
    font-weight: bold;
    color:aqua;
    background-color:blue;
    border-radius: 5px;
}

a:hover {
    color:red;
    box-shadow: 0 0 5px rgb(124, 65, 124);
}

#nav-links {
    ul {
        list-style-type: none;
    }
    li {
        display: inline-block;
    }
    a {
        text-decoration: none;
    font-weight: bold;
    color:red;
    background-color:pink;
    border-radius: 5px;
    }
    a:hover {
        color:violet;
    box-shadow: 0 0 5px light;
    }
}

.fonte-maior {
    font-size: 48px;
    background-color: pink;
    padding-left: 20px;
    /* border-width: 10px; */
    /* border-style: solid; */
    /* border-color: #593C8F; */
    border: 10px solid #593C8F;
}

.teste-espacamento {
    background-color: plum;
    padding: 20px 40px;
    margin-bottom: 100px;
    border-bottom: 10px solid black;
}


/* Desafio 3 - Estilização com CSS */

a:hover {
    color: purple;
    background-color: rgb(255, 47, 234)
}

#body {
    color: rgb(126, 8, 161);
    background-color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    
}

#header {
    background-color: rgb(200, 136, 219);
    color: rgb(35, 35, 165);
    font-family: 'lobster', 'times new roman', times, serif;
    font-size: 40px;
}

#footer {
    background-color: #cc6bb7;
    color: rgb(122, 22, 22);
    font-size: 25px;
    font-family: 'lobster', 'times new roman', times, serif;
}

.titulo-secao {
    font-family: 'lobster', 'times new roman', times, serif;
    color: red;
    padding-top: 30px solid rgb(255, 3, 3);
    padding-bottom: 20px solid rgb(181, 58, 128);
    border-left: 15px solid rgb(98, 8, 75);
    margin-top: 10px solid rgb(100, 30, 100);
    margin-bottom: 30px solid rgb(51, 23, 70);
}

.card-programa {
    background: rgb(149, 232, 215);
    border: 2px solid gray;
    border-radius: 5px;
    font-size: 15px;
    border: 2px solid rgb(54, 73, 201);
    padding-left: 5px rgb(23, 23, 133);
    padding-right: 5px rgb(118, 118, 210);
    margin-bottom: 30px;

#inicio {
    color: rgb(126, 8, 161);
    font-size: 20px;
    background: plum;
    padding: 20px solid rgb(0, 208, 255);
    margin-top: 15px rgb(255, 0, 208);
    margin-bottom: 15px rgb(255, 0, 208);
}

#programacao {
    background: #cc6bb7;
    border-left: 5px solid red;
    padding: 20px solid rgb(0, 208, 255);
    margin-top: 15px rgb(255, 0, 208);
    margin-bottom: 15px rgb(255, 0, 208);
}

#contato {
     background: #cc6bb7;
    border-left: 5px solid red;
    padding: 20px solid rgb(0, 208, 255);
    margin-top: 15px rgb(255, 0, 208);
    margin-bottom: 15px rgb(255, 0, 208);
}

:root {
    --blue-slate: red;
    --glaucous: plum;
    --sky: purple;
    --white: violet;
    --blue-slate: rgb(45, 45, 172);
    font-size: 40px
    font-weight: 50px
}

nav {
    ul {
        list-style: none;
        display: inline-block;
        margin-top: 20px rgb(0, 208, 255);
        margin-bottom: 20px rgb(0, 208, 255);
        padding-top: 15px rgb(51, 108, 115);
        padding-bottom: 15px rgb(51, 108, 115);
    }
    a {
        text-decoration: none;
        color:aqua;
        background: #593C8F;
        padding: 0 20px;
        margin: 0 20px;
    }
}